/.editor_settings
/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
compile_commands.json
*.der
RELEASE-NOTES.md
*.sublime-project
*.sublime-workspace
*.appmanifest
.luarc.json
/.cache
_codeql_detected_source_root
